<div class="row">
    <div class="col">
        <center><input type="checkbox" name="<%= teamid %>" value="<%= value1 %>"></center>
        <center><%= value1 %></center>
    </div>
    <div class="col">
        <center><input type="checkbox" name="<%= teamid %>" value="<%= value2 %>"></center>
        <center><%= value2 %></center>
    </div>
    <div class="col">
        <center><input type="checkbox" name="<%= teamid %>" value="<%= value3 %>"></center>
        <center><%= value3 %></center>
    </div>
</div>
<div class="row">
    <div class="col">
        <center><input type="checkbox" name="<%= teamid %>" value="<%= value4 %>"></center>
        <center><%= value4 %></center>
    </div>
    <div class="col">
        <center><input type="checkbox" name="<%= teamid %>" value="<%= value5 %>"></center>
        <center><%= value5 %></center>
    </div>
</div>
