<div class="row">
    <div class="col">
      <center><button type="button" data-teamid="<%= teamid %>" onClick="getmnme(this)" class="btn btn-light role" data-vault data-btn-action=""><%= value1 %></button></center>
    </div>
    <div class="col">
      <center><button type="button" data-teamid="<%= teamid %>" onClick="getmnme(this)" class="btn btn-light role" data-switch data-btn-action=""><%= value2 %></button></center>
    </div>
    <div class="col">
      <center><button type="button" data-teamid="<%= teamid %>" onClick="getmnme(this)" class="btn btn-light role" data-scale data-btn-action=""><%= value3 %></button></center>
    </div>
</div>
<div class="row">
    <div class="col">
      <center><button type="button" data-teamid="<%= teamid %>" onClick="getmnme(this)" class="btn btn-light role" data-oswitch data-btn-action=""><%= value4 %></button></center>
    </div>
    <div class="col">
      <center><button type="button" data-teamid="<%= teamid %>" onClick="getmnme(this)" class="btn btn-light role" data-def data-btn-action=""><%= value5 %></button></center>
    </div>
</div>
