<div class="row">
    <div class="col-sm-4">
        <button id="pgh1" type="button" data-btn-action data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= pgh1 %></button>
        <p id="<%= pgh1 %>"></p>
    </div>
    <div class="col-sm-4">
        <button id="pgh2" type="button" data-btn-action data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= pgh2 %></button>
        <p id="<%= pgh2 %>"></p>
    </div>
    <div class="col-sm-4">
        <button id="pgh3" type="button" data-btn-action data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= pgh3  %></button>
        <p id="<%= pgh3 %>"></p>
    </div>
</div>
