<div class="row">
    <div class="col-sm-12">
        <button type="button" data-teamid="<%= teamid %>" data-btn-action="" onClick="getmnm(this)" data-climb class="btn btn-light btn-lg btn-block climb"><%= name %></button>
        <button type="button" data-teamid="<%= teamid %>" data-btn-action="" onClick="getmnm(this)" data-ramp class="btn btn-light btn-lg btn-block climb"><%= name1 %></button>
        <button type="button" data-teamid="<%= teamid %>" data-btn-action="" onClick="getmnm(this)" data-rampbot class="btn btn-light btn-lg btn-block climb"><%= name2 %></button>
        <button type="button" data-teamid="<%= teamid %>" data-btn-action="" onClick="getmnm(this)" data-climbrampbot class="btn btn-light btn-lg btn-block climb"><%= name3 %></button>
        <p id="<%= name %>"></p>
    </div>
</div>
