<div class="row">
    <div class="col-sm-4">
        <button type="button" data-ctr-action="-" data-team="<%= teamid %>" data-ctr-id="<%= id %>" class="btn btn-block btn-secondary">-</button>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <center><%= label %></center> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <center><span data-ctr-id="<%= id %>" data-team="<%= teamid %>" data-ctr-value="<%= id %>">0</span></center>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <button type="button" data-ctr-action="+" data-team="<%= teamid %>" data-ctr-id="<%= id %>"class="btn btn-block btn-secondary">+</button>
    </div>
</div>
