<div class="row">
    <div class="col-sm-6">
        <button type="button" data-btn-action="" data-teamid="<%= teamid %>" onClick="getm(this)"  class="double btn btn-danger btn-lg btn-block"><%= name11 %></button>
        <p id="<%= name11 %>"></p>
    </div>
    <div class="col-sm-6">
        <button type="button" data-btn-action="" data-teamid="<%= teamid %>" onClick="getm(this)" class="double btn btn-danger btn-lg btn-block"><%= name22 %></button>
        <p id="<%= name22 %>"></p>
    </div>
</div>
