<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/global.css"></link>
        <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <meta 
                name='viewport' 
                content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' 
                />
        <script>

$(function() {
    $('button[data-ctr-action]').click(function() {
        id = $(this).data('ctr-id');
        teamid = $(this).data('team');
        console.log(id);
        val = parseInt($('[data-team=' + teamid + '][data-ctr-value=' + id + ']').html());
        console.log(val);
        if($(this).data('ctr-action') == '+') {
            val += 1;
        }else{
            val -= 1;
        }
        $('[data-team=' + teamid + '][data-ctr-value=' + id + ']').html(val);

    });
    $('button[data-btn-action]').click(function() {
        console.log($(this));
        if($(this).hasClass('btn-success')) {
            console.log('whoo');
            $(this).removeClass('btn-success');
            $(this).addClass('btn-danger');
        } else { 
            console.log('whee');
            $(this).addClass('btn-success');
            $(this).removeClass('btn-danger');
        }
        console.log($(this).hasClass('btn-success'));
        console.log($(this).hasClass('btn-danger'));
    });
    $('.carousel').carousel('pause');

});
function qFunction() {
    console.log($(indicator));
    $('.carousel').carousel('next');
    if ($('#indicator').hasClass('pre')) {
        $('#indicator').removeClass('pre');
        $('#indicator').addClass('auto');
        $('#indicator').html('Auto');
    } else if ($('#indicator').hasClass('auto')) {
        $('#indicator').removeClass('auto');
        $('#indicator').addClass('tele');
        $('#indicator').html('Tele');
    } else if ($('#indicator').hasClass('tele')) {
        $('#indicator').removeClass('tele');
        $('#indicator').addClass('post');
        $('#indicator').html('Post');
    } else if ($('#indicator').hasClass('post')) {
        $('#indicator').removeClass('post');
        $('#indicator').addClass('pre');
        $('#indicator').html('Pre');
    }
}
function gqFunction() {
    $('.carousel').carousel('prev');
    if ($('#indicator').hasClass('pre')) {
        $('#indicator').removeClass('pre');
        $('#indicator').addClass('post');
        $('#indicator').html('Post');
    } else if ($('#indicator').hasClass('auto')) {
        $('#indicator').removeClass('auto');
        $('#indicator').addClass('pre');
        $('#indicator').html('Pre');
    } else if ($('#indicator').hasClass('tele')) {
        $('#indicator').removeClass('tele');
        $('#indicator').addClass('auto');
        $('#indicator').html('Auto');
    } else if ($('#indicator').hasClass('post')) {
        $('#indicator').removeClass('post');
        $('#indicator').addClass('tele');
        $('#indicator').html('Tele');
    }
}
function getFunction() {
    if ($('#1').hasClass('button-success')) {
        $('#1').removeClass('button-success')
            $('#1').addClass('button-danger')
    } else if ($('#1').hasClass('button-danger')) {
        $('#1').removeClass('button-danger')
            $('#1').addClass('button-success')
            $('#2').removeClass('button-success')
            $('#3').removeClass('button-success')
    } else if ($('#2').hasClass('button-success')) {
        $('#2').removeClass('button-success')
            $('#2').addClass('button-danger')
    } else if ($('#2').hasClass('button-danger')) {
        $('#2').removeClass('button-danger')
            $('#2').addClass('button-success')
            $('#1').removeClass('button-success')
            $('#3').removeClass('button-success')
    } else if ($('#3').hasClass('button-success')) {
        $('#3').removeClass('button-success')
            $('#3').addClass('button-danger')
    } else if ($('#3').hasClass('button-danger')) {
        $('#3').removeClass('button-danger')
            $('#3').addClass('button-success')
            $('#1').removeClass('button-success')
            $('#2').removeClass('button-success')
    }
}
        </script>
    </head>    
    <body>
        <div class="container-fluid">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="true">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="padding:10px">
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="padding:10px">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                        <%= partial :button, locals: {name: "Cross",teamid: "461"}%>
                                        <%= partial :counter, locals: {label: "Switch", id: 'auto-switch',teamid: "461"} %>
                                        <%= partial :counter, locals: {label: "Scale", id: 'auto-scale',teamid: "461"} %>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                        <%= partial :button, locals: {name: "Cross",teamid: "462"}%>
                                        <%= partial :counter, locals: {label: "Switch", id: 'auto-switch',teamid: "462"} %>
                                        <%= partial :counter, locals: {label: "Scale", id: 'auto-scale',teamid: "462"} %>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                        <%= partial :button, locals: {name: "Cross",teamid: "463"}%>
                                        <%= partial :counter, locals: {label: "Switch", id: 'auto-switch',teamid: "463"} %>
                                        <%= partial :counter, locals: {label: "Scale", id: 'auto-scale',teamid: "463"} %>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="padding:10px">
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                        <%= partial :counter, locals: {label: "Alliance Switch", id: 'tele-all-switch',teamid: "461"} %>
                                        <%= partial :counter, locals: {label: "Opponent Switch", id: 'tele-opp-switch',teamid: "461"} %>
                                        <%= partial :counter, locals: {label: "Scale", id: 'tele-scale',teamid: "461"} %>
                                        <%= partial :counter, locals: {label: "Cubes", id: 'tele-cubes',teamid: "461"} %>
                                        <%= partial :button, locals: {name: "Park",teamid: "461"}%>
                                        <%= partial :singlechoose, locals: {name1: "No",name2: "Yes",name3: "Fast",teamid: "461"}%>
                                    </div>
                                    <div class="col-sm-4">
                                        <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                        <%= partial :counter, locals: {label: "Alliance Switch", id: 'auto-all-switch',teamid: "462"} %>
                                        <%= partial :counter, locals: {label: "Oppenent Switch", id: 'auto-opp-scale',teamid: "462"} %>
                                        <%= partial :counter, locals: {label: "Scale", id: 'auto-scale',teamid: "462"} %>
                                        <%= partial :counter, locals: {label: "Cubes", id: 'tele-cubes',teamid: "462"} %>
                                        <%= partial :button, locals: {name: "Park",teamid: "462"}%>
                                        <%= partial :singlechoose, locals: {name1: "No",name2: "Yes",name3: "Fast",teamid: "462"}%>
                                    </div>
                                    <div class="col-sm-4">
                                        <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                        <%= partial :counter, locals: {label: "Alliance Switch", id: 'auto-switch',teamid: "463"} %>
                                        <%= partial :counter, locals: {label: "Oppenent Switch", id: 'auto-scale',teamid: "463"} %>
                                        <%= partial :counter, locals: {label: "Scale", id: 'auto-scale',teamid: "463"} %>
                                        <%= partial :counter, locals: {label: "Cubes", id: 'tele-cubes',teamid: "463"} %>
                                        <%= partial :button, locals: {name: "Park",teamid: "463"}%>
                                        <%= partial :singlechoose, locals: {name1: "No",name2: "Yes",name3: "Fast",teamid: "463"}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="padding:10px">
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:10px;padding-top:20px">
                        <div class="col-sm-2">
                            <button type="button" onclick="gqFunction()" class="btn btn-info btn-block">Prev</button>
                        </div>
                        <div class="col-sm-8">
                            <center><span id="indicator" class="pre badge badge-primary">Pre</span></center>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" onclick="qFunction()" class="btn btn-info btn-block">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
