<div class="row">
    <div class="col">
        <button type="button" data-btn-action="" data-teamid="<%= teamid %>" onClick="getmn(this)" class="btn btn-danger btn-lg btn-block rate">1</button>
    </div>
    <div class="col">
        <button type="button" data-btn-action="" data-teamid="<%= teamid %>" onClick="getmn(this)" class="btn btn-danger btn-lg btn-block rate">2</button>
    </div>
    <div class="col">
        <button type="button" data-btn-action="" data-teamid="<%= teamid %>" onClick="getmn(this)" class="btn btn-danger btn-lg btn-block rate">3</button>
    </div>
    <div class="col">
        <button type="button" data-btn-action="" data-teamid="<%= teamid %>" onClick="getmn(this)" class="btn btn-danger btn-lg btn-block rate">4</button>
    </div>
    <div class="col">
        <button type="button" data-btn-action="" data-teamid="<%= teamid %>" onClick="getmn(this)" class="btn btn-danger btn-lg btn-block rate">5</button>
    </div>
</div>
