<div class="row">
    <div class="col-sm-4">
        <button id="1" type="button" data-btn-action="" onClick="getFunction()" class="btn btn-danger btn-lg btn-block"><%= name1 %></button>
        <p id="<%= name1 %>"></p>
    </div>
    <div class="col-sm-4">
        <button id="2" type="button" data-btn-action="" onClick="getFunction()" class="btn btn-danger btn-lg btn-block"><%= name2 %></button>
        <p id="<%= name2 %>"></p>
    </div>
    <div class="col-sm-4">
        <button id="3" type="button" data-btn-action="" onClick="getFunction()" class="btn btn-danger btn-lg btn-block"><%= name3 %></button>
        <p id="<%= name3 %>"></p>
    </div>
</div>
