<div class="row">
    <div class="col-sm-4">
        <button id="1" type="button" data-startleft data-btn-action data-datapoint="<%= datapoint %>" onClick="getn(this)" data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= name1 %></button>
        <p id="<%= name1 %>"></p>
    </div>
    <div class="col-sm-4">
        <button id="2" type="button" data-startmiddle data-btn-action data-datapoint="<%= datapoint %>" onClick="getn(this)" data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= name2 %></button>
        <p id="<%= name2 %>"></p>
    </div>
    <div class="col-sm-4">
      <button id="3" type="button" data-startright data-btn-action data-datapoint="<%= datapoint %>" onClick="getn(this)" data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= name3 %></button>
        <p id="<%= name3 %>"></p>
    </div>
</div>
