<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"</link>
    <link rel="stylesheet" href="/css/global.css"</link>
    <link rel="stylesheet" href="/css/toastr.min.css"></link>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="/faye/faye.js"></script>
    <title>Trending</title>
    <meta
            name='viewpoint'
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
            />
    <style>
.row {
  background-color: #f8f8ff;
}
.row:nth-child(even) {
  background-color: #eed;
}
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col">
              <h4>Teams</h4>
            </div>
            <div class="col">
              <h4>Auto Scale Average</h4>
            </div>
            <div class="col">
              <h4>Auto Switch Average</h4>
            </div>
            <div class="col">
              <h4>Alliance Switch Average</h4>
            </div>
            <div class="col">
              <h4>Tele Scale Average</h4>
            </div>
            <div class="col">
              <h4>Opponent Switch Average</h4>
            </div>
            <div class="col">
              <h4>Vault Cubes</h4>
            </div>
            <div class="col">
              <h4>Climb</h4>
            </div>
          </div>
          <% @teams.sort.each do |team, matches| %>
            <div class="row">
              <div class="col">
                <%= team %> <em>(<%= matches.length %>)</em>
              </div>
              <div class="col">
                <%= (matches.map{|m| (m['auto-scale'] || 0).to_f }.reduce{|x, r| x.to_f + r.to_f} / matches.count).round(2) %>
              </div>
              <div class="col">
                <%= (matches.map{|m| (m['auto-switch'] || 0).to_f }.reduce{|x, r| x.to_f + r.to_f} / matches.count).round(2) %>
              </div>
              <div class="col">
                <%= (matches.map{|m| (m['tele-all-switch'] || 0).to_f }.reduce{|x, r| x.to_f + r.to_f} / matches.count).round(2) %>
              </div>
              <div class="col">
                <%= (matches.map{|m| (m['tele-scale'] || 0).to_f }.reduce{|x, r| x.to_f + r.to_f} / matches.count).round(2) %>
              </div>
              <div class="col">
                <%= (matches.map{|m| (m['tele-opp-switch'] || 0).to_f }.reduce{|x, r| x.to_f + r.to_f} / matches.count).round(2) %>
              </div>
              <div class="col">
                <%= (matches.map{|m| (m['tele-cubes'] || 0).to_f }.reduce{|x, r| x.to_f + r.to_f} / matches.count).round(2) %>
              </div>
              <div class="col">
                <%= matches.map{|m| ((m['climb'] || '').chars.first) }.reduce{|x, r| (x || '') + (r || '')}  %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-3">
          <div class="row">
            <a href="/trend" class="btn btn-block btn-lg btn-primary">Reload</a>
          </div>
        </div>
      </div>
      <script>
      </script>
    </div>
  </body>
</html>
